---
interface Props {
  siteName: string;
  siteTagline: string;
}

const { siteName, siteTagline } = Astro.props;
---

<header id="header" class="header">
  <div class="container">
    <nav class="header__wrapper txt-l">
      <a class="header__brand" href="/" title="Easy, Delicious Recipes for Every Family Meal">
        <img class="logo" width="200" height="70" src="/assets/drawable/logo.svg" alt="My Homemade Recipe">
      </a>
      <ul class="header__menu">
        <li class="header__menu-item d-none d-xl-block">
          <a class="icon-wrapper " href="/categories" title="All Categories">
            <svg class="icon"><use href="#icon-categories"></use></svg>
            <span>Categories</span>
          </a>
        </li>
        <li class="header__menu-item d-none d-xl-block">
          <a class="icon-wrapper " href="/explore" title="Explore">
            <svg class="icon"><use href="#icon-explore"></use></svg>
            <span>Explore</span>
          </a>
        </li>
        <li class="header__menu-item d-none d-xl-block">
          <a class="icon-wrapper " href="/about" title="About">
            <svg class="icon"><use href="#icon-about"></use></svg>
            <span>About</span>
          </a>
        </li>
        <li class="header__menu-item d-none d-xl-block">
          <a class="icon-wrapper " href="/contact" title="Contact Us">
            <svg class="icon"><use href="#icon-contact"></use></svg>
            <span>Contact</span>
          </a>
        </li>
        <li class="header__menu-item d-none d-xl-block">
          <a class="icon-wrapper " href="/search" title="Quick &amp; Easy Search">
            <svg class="icon icon--medium"><use href="#icon-search"></use></svg>
          </a>
        </li>
        <li class="header__menu-item">
          <div class="d-xl-none">
            <button onclick="toggleOffcanvas()" class="icon-wrapper" type="button" aria-label="Toggle Offcanvas">
              <svg class="icon icon--medium"><use href="#icon-menu"></use></svg>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Offcanvas Mobile Menu -->
<div id="offcanvas" class="offcanvas offcanvas--close">
  <button onclick="toggleOffcanvas()" class="offcanvas__exit" aria-label="Toggle Offcanvas">
    <svg class="icon medium"><use href="#icon-cancel"></use></svg>
  </button>
  <ul class="offcanvas__menu">
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/" title="Family-Friendly Recipes That Everyone Will Love">
        <svg class="icon"><use href="#icon-home"></use></svg>
        <span>Home</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/search" title="Quick &amp; Easy Search">
        <svg class="icon"><use href="#icon-search"></use></svg>
        <span>Search</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/authors" title="All Authors">
        <svg class="icon"><use href="#icon-authors"></use></svg>
        <span>Authors</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/categories" title="All categories">
        <svg class="icon"><use href="#icon-categories"></use></svg>
        <span>Categories</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/explore" title="Explore">
        <svg class="icon"><use href="#icon-explore"></use></svg>
        <span>Explore</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/articles" title="All Articles">
        <svg class="icon"><use href="#icon-articles"></use></svg>
        <span>Articles</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/recipes" title="All Recipes">
        <svg class="icon"><use href="#icon-recipes"></use></svg>
        <span>Recipes</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/about" title="About">
        <svg class="icon"><use href="#icon-about"></use></svg>
        <span>About</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/faq" title="Frequently Asked Questions">
        <svg class="icon"><use href="#icon-faq"></use></svg>
        <span>FAQs</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/privacy" title="Privacy &amp; Policy">
        <svg class="icon"><use href="#icon-privacy"></use></svg>
        <span>Privacy Policy</span>
      </a>
    </li>
    <li class="offcanvas__menu-item ">
      <a class="icon-wrapper" href="/contact" title="Contact Us">
        <svg class="icon"><use href="#icon-contact"></use></svg>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</div>

<script is:inline>
function toggleClass(e,t){var s=document.getElementById(e);s&&s.classList.toggle(t)}
function scrollToElement(e){const t=document.getElementById(e);t&&t.scrollIntoView({behavior:"smooth"})}
function toggleOffcanvas(){const e=document.getElementById("offcanvas");e&&(e.classList.contains("offcanvas--close")?(e.classList.remove("offcanvas--close"),e.classList.add("offcanvas--open")):(e.classList.remove("offcanvas--open"),e.classList.add("offcanvas--close")))}
</script> 